/* src/app/globals.css */
@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html {
  scroll-behavior: smooth;
}


.bg-common {
  background-image: url('/images/bg.svg');
}


.blinking-cursor {
  display: inline-block;
  animation: blink 1s step-start infinite;
  color: inherit;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
